.text-chocolate {
    color: #7B3F00;
    /* Um tom de marrom escuro */
}

.bg-fundo-amarelo {
    background-color: #fff6d2;
}
.animate{
    transition: transform 0.3s ease;
}
.animate:hover{
    transform: scale(1.05);
}