:root {
    --fundo: #D6A850;
    --destaque: #7C2A19;
    --texto: #5B1D13;
    --detalhe: #E8C87C;
}

.card-prod {
    transition: all 0.2s ease;
    border: 1px solid var(--destaque);
}
.card-prod:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #f8e1ab;
}

.card-prod a {
    all: unset
}

.card-prod a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.card-prod-img {
    aspect-ratio: 1;
}
.card-prod-img:hover {
    filter: brightness(75%);
}
.card-prod-img img {
    object-fit: contain;
    width: 100%;
    height: 100%;

    object-position: center;
    background-color: white;
}

.card-prod-nome {
    /*Div*/
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;

    /*Texto*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #212529 !important;
    font-weight: 600;
    font-size: 1.4rem;
}

.card-prod-preco {
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--destaque);
    margin-bottom: 0.6rem;
}

.card-prod-div_botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px #7C2A19 solid;
}

.card-prod-btn {
    width: 100%;
    background-color: var(--destaque);
    color: white;
}

.card-prod-btn:hover {
    background-color: var(--destaque);
    filter: brightness(75%);
    color: white;
}
