footer{
    background-color: #333333;
    color: white;
}

footer a {
    color: rgb(187, 183, 183) !important;
}

footer a:hover {
    color: #c43c3c !important;
    text-decoration: underline;
}

footer svg {
    fill: white;
}
footer svg :hover {
    fill: #c43c3c;
}