header, nav, footer {
    display: none;
}

a, p {
    all: unset;
}
a:hover {
    cursor: pointer;
    color: #c43c3c !important;
    text-decoration: underline;
}

.corpo {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
}

.corpo > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_login {
    background-color: #fafbfc;
}

.div_login form {
    width: 300px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.legenda {
    margin-top: 0.25rem;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.25rem;
}


.form-floating>.form-control, .form-floating>.form-control-plaintext {
    padding: 1rem .75rem;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}