/*
PALETA DE CORES:
VERMELHO    #c43c3c
PRETO       #212529
AMARELO     #fff6d2
*/

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #fafbfc;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    min-height: 100vh;
    background-color: #f5f5f5 !important;
    padding: 0 !important;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}


.cassadipieta {
    color: red;
}


.container-carrossel {
    width: 100%;
}

.carousel-item {
    transition-duration: 1s !important;
}

.divisoria {
    height: 1rem;
    background-color: #0a0a0a;
}


.bg-vermelho {
    background-color: #c43c3c !important;
}

.btn-vermelho {
    background-color: #c43c3c !important;
    color: white !important;
}
.btn-vermelho:hover {
    background-color: #c43c3c8d !important;
}